* {
  padding: 0;
  margin: 0;
}

/* NavBar */

.navbar {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-options ul {
  list-style: none;
  display: flex;
}

.items {
  font-family: sans-serif;
  margin-right: 40px;
  font-weight: bold;
}

.items:hover {
  color: #20bc7e;
}

/* Hero Section */

.hero-container {
  display: flex;
  background-image: url("./stethoscope.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-x: 200px;
}

/* Hero Text Left */

.hero-text-left {
  width: 650px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text-left h1,
.hero-text-left p {
  font-family: sans-serif;
}

.hero-text-left h1 {
  font-size: 70px;
  font-weight: bolder;
}

.hero-text-left p {
  margin: 20px 0px;
  font-size: 20px;
  color: rgb(88, 87, 87);
}

/* Hero Button & angular bracket down */

.hero-button {
  align-items: center;
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.hero-button button {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  border: transparent;
  background-color: #20bc7e;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

/* Hero Image Right */

.doctor {
  width: 600px;
}
/* Hero image Background circles */

.greencircle,
.yellowcircle {
  position: absolute;
  z-index: -1;
}

.greencircle {
  width: 570px;
  top: 280px;
  right: 20px;
}

.yellowcircle {
  top: 320px;
  right: 10px;
  width: 490px;
}

/* Mouse scroll */

.mouse-scroll {
  position: absolute;
  left: 670px;
}
